#create-stream{
  width: 500px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 0 0 4px #000;

  .users-list{
    padding: 20px 5px;
  }

  .control{
    display: flex;
    justify-content: space-between;
  }

  .select-all-checkboxes{
    margin-left: 30px;
  }
}