.login-from {
  width: 500px;
  margin: 50px auto;
  padding: 30px;
  box-shadow: 0 0 4px #000;

  h1 {
    color: #565656;
    text-align: center;
    font-size: 20px;
    margin: 0;
  }
  .login-info {
    text-align: right;
    font-size: 16px;
    color: red;
  }
  .sign-in-error {
    background: #e8a1a1;
    margin: 14px 0;
    color: #1f0000;
    padding: 10px;
    border-radius: 3px;
  }
}