#stream-page{
  .stream-description{
    font-size: 2.400rem;
    font-weight: 400;
    line-height: 3.2rem;
    padding: 10px;
    background-color: #eee;
  }
  .create-block{
    width: 60vw;
    padding: 0 30px;
    display: flex;

    form{
      width: calc(100% - 300px);
      box-shadow: inset 0 1px 2px 1px #ddd;
    }

    .new-event{
      margin-left: 10px;
      width: 290px;
      box-shadow: inset 0 1px 2px 1px #ddd;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }

    .buttons{
      float: right;
    }
  }

  .container{
    display: flex;
    margin: 3px;

    .subhead{
      font-size: 14px;
      font-weight: 500;
      letter-spacing: .01em;
      line-height: 1.2em;
      display: block;
      padding: 16px;
      color: #777;
    }

    .user-list{
      box-shadow: inset 0 1px 2px 1px #ddd;
      width: 30vw;
      padding: 30px;
      .user{
        padding: 3px;
        color: #444;
        display: flex;
        align-items: center;

        img{
          -webkit-box-flex: 0;
          -webkit-flex: none;
          flex: none;
          width: 20px;
          height: 20px;
          /* margin-top: 8px; */
          /* margin-bottom: 8px; */
          margin-right: 10px;
          border-radius: 50%;
          box-sizing: content-box;
        }
      }
    }

    .create-stream{
      box-shadow: inset 0 1px 2px 1px #ddd;
      width: 30vw;
      padding: 30px;
    }
  }

  .stream-container{
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    height: 60vh;
    width: 60vw;
    overflow: auto;

    .stream-message{
      box-shadow: 0 1px 2px 1px #ddd;
      margin: 5px 0;
      &:hover{
        background-color: #eee;
      }

      .md-avatar{
        -webkit-box-flex: 0;
        -webkit-flex: none;
        flex: none;
        width: 40px;
        height: 40px;
        margin-top: 8px;
        margin-bottom: 8px;
        margin-right: 16px;
        border-radius: 50%;
        box-sizing: content-box;
      }

      .participate {
        position: relative;

        .sum-participators {
          position: absolute;
          bottom: 2px;
          font-size: 12px;
          left: 45px;
        }
      }
      .msg, .ev{
        display: flex;
        padding: 10px;
      }
      .msg-info{
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
        margin: auto;
        text-overflow: ellipsis;
        overflow: hidden;
        position: relative;

        h3{
          font-size: 16px;
          font-weight: 400;
          letter-spacing: .01em;
          margin: 0;
          line-height: 1.2em;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        h4{
          font-size: 14px;
          letter-spacing: .01em;
          margin: 3px 0 1px;
          font-weight: 400;
          line-height: 1.2em;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        h4.event-price {
          position: absolute;
          bottom: 20px;
          font-size: 20px;
          font-weight: bold;
          right: 12px;
        }

        p{
          font-size: 14px;
          font-weight: 500;
          letter-spacing: .01em;
          margin: 0;
          line-height: 1.6em;
        }
      }
    }
  }
}