<div id="stream-page">
    <md-content md-border-bottom>
        <div class="stream-description" ng-bind="$ctrl.stream.description"></div>
        <div class="container">
            <div class="stream-container">
                <div class="stream-message" ng-repeat="message in $ctrl.stream.records">
                    <div class="msg" ng-if="message.type=='MESSAGE'">
                        <img src="./assets/img/default-user-icon-profile.png"
                             class="md-avatar"
                             alt="user image"/>

                        <div class="msg-info" layout="column">
                            <h3>{{ message.author.name }}</h3>
                            <h4>{{ message.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</h4>
                            <p>{{ message.text }}</p>
                        </div>
                    </div>

                    <div class="ev" ng-if="message.type=='EVENT'">
                        <img src="{{message.url}}" class="md-avatar" alt="user image"/>
                        <div class="msg-info" layout="column">
                            <h3>{{ message.author.name }}</h3>
                            <h4>{{ message.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</h4>
                            <h4 class="event-price">{{ message.price }} $</h4>
                            <p>{{ message.title +' (' + message.description + ')'}}</p>
                        </div>
                        <div class="participate">
                            <md-switch ng-model="message.participate" aria-label="Participate">
                                Participate: {{message.participate?'yes':'no'}}
                            </md-switch>
                            <div class="sum-participators">Participators: {{message.participators.length + ++message.participate}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-list">
                <div class="subhead">List of users</div>
                <div class="user"
                     ng-repeat="user in $ctrl.stream.isPublic?$ctrl.allUsers:$ctrl.stream.allowUsers">
                    <img src="./assets/img/default-user-icon-profile.png"
                         class="md-avatar"
                         alt="user image">
                    <span ng-bind="user.name"></span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="create-block">
                <form name="new" ng-submit="$ctrl.sendMessage()">

                    <md-input-container class="md-block">
                        <label>New message</label>
                        <input md-maxlength="255" required md-no-asterisk name="message" ng-model="message">
                    </md-input-container>

                    <div class="buttons">
                        <md-button type="submit" class="md-primary md-raised">Send</md-button>
                    </div>

                    <p style="font-size:.8em; width: 100%; text-align: center;">
                        Type your message to this stream
                    </p>
                </form>

                <div class="new-event">
                    <div class="subhead">Add new event to this stream</div>
                    <md-button class="md-raised md-primary" ng-click="$ctrl.createEvent($event)">create</md-button>
                </div>
            </div>


            <div class="create-stream">
                <div class="subhead">Create new stream</div>
                <md-button class="md-raised md-primary" ng-click="$ctrl.createStream($event)">create stream</md-button>
            </div>
        </div>


    </md-content>
</div>

<script type="text/ng-template" id="/create-stream.dialog.html">
    <div>123</div>
</script>
