<div id="stream-page">
    <div style="text-align: right" ng-if="userService.currentUser">
        {{userService.currentUser.name}}
        <md-button class="md-raised md-warn"
                   ng-click="logout()">Logout</md-button>
    </div>
    <md-content class="md-padding">
        <md-tabs md-selected="0" md-dynamic-height md-no-select-click md-border-bottom>
            <md-tab ng-repeat="stream in $ctrl.streams | orderBy:'-createdAt'"
                    ng-disabled="stream.disabled">
                <md-tab-label>
                    {{stream.title}}
                </md-tab-label>
                <md-tab-body>
                    <md-content>
                        <stream stream="stream"></stream>
                    </md-content>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-content>
</div>