.create-event-from {
  width: 500px;
  padding: 30px;

  h1 {
    color: #565656;
    text-align: center;
    font-size: 20px;
    margin: 0;
  }
  .create-event-info {
    text-align: right;
    font-size: 16px;
    color: red;
  }
  .create-event-error {
    background: #e8a1a1;
    margin: 14px 0;
    color: #1f0000;
    padding: 10px;
    border-radius: 3px;
  }
}